<html>
  <head>
    <title>Welcome to ansible</title>
  <head>
  <body>
    <n1>nginx, cinfigured by Ansible</h1>
    <p>if you can see this, Ansible successfully installed nginx.</p>

    <p>{{ ansible_managed }}</p>
  </body>
</html>
